{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
    </div>
    <div class="card-body">
        <div class="media-">
            {% if item.photo %}
            <img src="{{ news_item.photo.url }}" width="200" height="200">
            {% else %}
            <img src="https://picsum.photos/200">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ news_item.title }}</h5>
                <p class="card-text">{{ news_item.content}}</p>
            </div>
        </div>
    </div>
</div>
<div class="card-footer text-muted mb-3">
    {{ news_item.created_at}}
</div>
{% endblock %}
